[package]
name = "axum-cloudflare-adapter-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quote = "1.0.23"
syn = { version = "1.0.109", features = ["full"] }
